body {
	margin: 0;
	font-family: 'Didact Gothic', 'Meiryo UI'; 
  font-weight: normal; 
  font-style: normal; 
	background-color: white;
}

/* Styling for general */
a {
	color: black;
}

p {
	font-size: 1.3rem;
}

span, .brand-logo, .accent-text {
	color: #ef6c00 !important;
}

.display-linebreak {
  white-space: pre-line;
}

.vit-accent {
	color: #ef6c00;
}

.social-icons {
	padding: 0 5px;
}

.no-margin-top {
	margin-top: 0
}

.no-margin-bot {
	margin-bottom: 0 !important
}

/* Styling for Navbar */
.nav-wrapper {
	padding-right: 30px;
	padding-left: 30px
}

.nav-link-big {
	font-size: 1.5rem;
	padding-right: 30px;
	padding-left: 30px;
}

.vit-logo {
	margin-top: 7px;
	height: 50px;
	width: 50px
}

.brand-sublogo {
	padding-left: 70px;
	cursor: default;
}

.category-header {
	font-weight: 700;
	font-size: 1rem;
}

/* Styling for Banner */
/* banner patterned img from patterncooler.com */
.banner {
	background: url(https://i.imgur.com/qVu8peB.png);
	height: 300px
}

.banner-title, .banner-subtitle {
	text-shadow: 0.4rem 0.4rem 1.2rem black,
								-0.1rem -0.1rem 0.4rem black;
}

.banner-subtitle {
	margin-left: 5%
}
/* Styling for Featured */
.featured-row {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.featured-carousel {
	max-height: 250px
}

.featured-btn {
	background-color: #ef6c00;
}

.carsoul-container {
	padding: 5px;
}

.slick-prev:before, .slick-next:before {
	color: #ef6c00;
}

.carousel-item {
	opacity: 1 !important;
	z-index: 1;
}

.close-text {
	font-size: 1.3rem
}

/* Styling for Events & Supporter */
.host-circle-pic {
	float: right;
	width: 85px;
	height: 85px;
}

.area-map {
	width: 100%;
  height: 450px;
  border: 0;
  frameBorder: 0
}

.thumbnail-container {
	height: 80px;
	margin-top: 5px;
}

.thumbnail {
	width: 60px;
	height: 75px;
	margin-right: 10px
}

.reviews-text {
	font-size: .9rem;
}

/* Styling for Star Ratings - original Author: Zach Reed on Codepen.io (https://codepen.io/Bluetidepro/pen/GkpEa)*/
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 115px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
	color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
  /* bottom is for empty parts of the rating stars */
.star-ratings-css-bottom{
	padding: 0;
  display: block;
  z-index: 0;
}

/* For the above. Note: omit -bottom if you don't want empty parts of the star rating showing.
<div class="star-ratings-css">
  <div class="star-ratings-css-top" style="width: 50%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>
*/

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}

.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display:block;
}