body {
	margin: 0;
	font-family: 'Didact Gothic', 'Meiryo UI'; 
  font-weight: normal; 
  font-style: normal; 
	background-color: white;
}

/* Styling for general */
a {
	color: black;
}

span, .brand-logo, .accent-text {
	color: #ef6c00 !important;
}

.hidden {
	/* necessary */
	display: none;
}

.display-linebreak {
  white-space: pre-line;
}

.vit-accent {
	color: #ef6c00;
}

.social-icons {
	padding: 0 5px;
}

.no-margin-top {
	margin-top: 0 !important;
}

.no-margin-bot {
	margin-bottom: 0 !important
}

.card-round {
	border-radius: 15px !important
}

.card-image-round {
	border-radius: 15px 15px 0 0 !important
}

.card-image-semi-round {
	border-radius: 0 15px 0 0 !important
}

/* Styling for Navbar */
.nav-wrapper {
	padding-right: 30px;
	padding-left: 30px
}

.nav-link-big {
	margin-right: 5px;
	font-size: 1.5rem;
	padding-right: 30px;
	padding-left: 30px;
}

.vit-logo {
	margin-top: 7px;
	margin-bottom: 3px !important;
	height: 50px;
	width: 50px
}

.brand-name {
	font-size: 1.5rem;
}

.brand-sublogo {
	padding-left: 70px;
	cursor: default;
	white-space: pre;
}

.category-header {
	font-weight: 700;
	font-size: 1rem;
}

.side-nav-icon {
	margin-left: 45%
}

.close-text {
	font-size: 1.3rem
}

/* Styling for SearchBar */
/* banner patterned img from patterncooler.com */
.search-margin-push {
	margin-top: 12px
}

/* Styling for Featured */
.card-content {
	padding: 12px !important;
}

.cat-circle {
	margin-top: 5px;
	padding: 5px 10px 5px 10px;
	background-color: white;
	border: 1px solid #ef6c00 !important;
	border-radius: 15px;
	display: inline-block;
}

.collection {
	border: none !important;
}

.collection a {
	color: #ef6c00 !important;
}

.collection-item {
	margin-bottom: 10px !important;
}

.featured-row {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.featured-title {
	font-size: 1.4rem !important;
	padding: 12px !important;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

.featured-text {
	font-size: 1.3rem
}

/* Styling for Browse Page */
.small {
	height: 200px !important;
}

/* Styling for Detail Page */
.host-circle-pic {
	float: right;
	width: 85px;
	height: 85px;
}

.page-main-img {
	max-width: 450px !important;
}

#mapDiv {
	margin-top: 10px;
}

.area-map {
	width: 100%;
  height: 350px;
  border: 0;
  frameBorder: 0
}

.thumbnail-container {
	height: 80px;
	margin-top: 5px;
}

.thumbnail {
	width: 60px;
	height: 75px;
	margin-right: 10px;
	border: 1px solid #ef6c00;
}

.reviews-text {
	font-size: 1.6rem;
}

/* Styling for Star Ratings - original Author: Zach Reed on Codepen.io (https://codepen.io/Bluetidepro/pen/GkpEa)*/
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 120px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-featured-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 15px;
  height: 25px;
  width: 60px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-detail-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 120px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
	color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
  /* bottom is for empty parts of the rating stars */
.star-ratings-css-bottom{
	padding: 0;
  display: block;
  z-index: 0;
}

/* For the above. Note: omit -bottom if you don't want empty parts of the star rating showing.
<div class="star-ratings-css">
  <div class="star-ratings-css-top" style="width: 50%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>
*/

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}

.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display:block;
}